<%- include("templates/menuAccess") %>
<div class="foto_perfil">
<img src="https://imagizer.imageshack.com/img924/2877/wqONpB.jpg">
</div>
<div class="tabla_de_datos">
    <h1 class="username_data">Datos del Usuario</h1>
    <form action="/modificarClientes" method="post" id="datos_cliente">
        <input type="hidden" name="id_cli" id="id_cli" value="<%= cliente.id_cli %>"> 
        <label for="Nombre de Usuario">Username</label> 
        <input type="text" name="nom_cli" id="nom_cli" value="<%= cliente.nom_cli %>">
        <label for="contraseña">Contraseña</label>
        <input type="text" name="pass_cli" id="mail_cli" value="<%= cliente.pass_cli %>">
        <label for="correo">Email</label>
        <input type="text" name="mail_cli" id="mail_cli" value="<%= cliente.mail_cli %>">
        <button type="submit">Guardar</button>
    </form>
</div>
