<%- include("templates/menuProductos") %>
<div class="tabla_de_registro">
    <h1 class="username_producto">Modificando <%= producto.nom_pro%></h1>
    <form action="/modificarProductos" method="post" id="cambios_producto">
        <label for="Nombre Producto">Nombre</label> 
        <input type="text" name="nom_pro" id="nom_pro" value="<%= producto.nom_pro %>">
        <label for="Precio">Precio</label>
        <input type="text" name="prec_pro" id="prec_pro" value="<%= producto.prec_pro%>">
        <label for="Categoria">Categoria</label>
        <input type="text" name="cat_pro" id="cat_pro" value="<%= producto.cat_pro %>">
        <label for="Cantidad">Cantidad</label>
        <input type="text" name="cantD_pro" id="canD_pro" value="<%= producto.cantD_pro%>">
        <button type="submit" class="send">Guardar cambios</button>
    </form>
</div>