<%- include("templates/menuAccess") %>
<div class="btn-group">
    <button class="button"><a href="/" class="logout">Logout</a></button>
  </div>

<div class="foto_perfil">
<img src="https://imagizer.imageshack.com/img924/2877/wqONpB.jpg">
</div>
<table class="tabla_cliente">
    <tbody class="tbody_cliente">
        <%
        cliente.forEach((cliente)=>{
        %>
        <tr>
            <td class="campo">ID</td>
            <td><%= cliente.id_cli %></td>
            <td class="campo">Nombre de Usuario</td>
            <td><%= cliente.nom_cli %></td>
            <td class="campo">Correo</td>
            <td><%= cliente.mail_cli %></td>
            <td class="campo">Contraseña</td>
            <td><%= cliente.pass_cli %></td>
            <td class="editar"><a href="/editarCliente/<%= cliente.id_cli %>">Editar</a></td>
        </tr>
        <%
        });
        %>
    </tbody>
</table>

<div class="container_pets">
    <h1 class="titulo_pets">Tus Mascotas</h1>
<div>
<div class="mascota_ej1">
    <img src="https://imagizer.imageshack.com/v2/150x100q70/923/o5ohUD.jpg">
    <a href="/perfilMascota"><h2 class="nombre1">Dagoberto</h2></a>
</div>
<div class="mascota_ej2">
    <img src="https://imagizer.imageshack.com/img923/8414/95zflL.jpg">
    <a href="/perfilMascota"><h2 class="nombre2">Lucas</h2></a>
</div>
<div class="mascota_ej3">
    <img src="https://imagizer.imageshack.com/img924/4793/6vxvl6.jpg">
    <a href="/perfilMascota"><h2 class="nombre3">Roberto</h2></a>
</div>
<div class="mascota_ej3">
    <img src="#">
    <a href="/RegistroPet"><h2 class="nombre3">Registrar Nuevo</h2></a>
</div>
</div>
